SECRET_KEY=secret
AZURE_MAPS_KEY=your_azure_maps_key_here
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token_here
CODES_ANNOTATORS=["annotator"]
CODES_REVIEWERS=["reviewer"]
DB_HOST=localhost
DB_NAME=postgres
DB_USER=user
DB_PASSWORD=password
DATA_PATH=/tmp/data
